@import url('https://fonts.googleapis.com/css2?family=Shrikhand&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;700&display=swap');
@media screen and (max-width: 750px){

    .logooh{
        width: 180px;
        display: block;
        margin-left: 90px;
        margin-right: auto;
        padding-top: 20px;
        padding-bottom: 20px; 
        height: 35px; 
    }
    .fa-arrow-left{
        left: 30px;
        position: absolute;
        padding-top: 25px;
        font-size: 20px;
        color:#353535;
    }
    .image{
        width: 102%;
        height: 280px;
    }

    .menu{
        background-color: #f6f6f6;
        border: 0.5px solid #f6f6f6;
        border-radius: 20px 20px 0px 0px;
        margin-top: -3rem;
        position: relative;
        margin-right: -9px;
        margin-left: -8px;
    }

    .menu h2{
        border-bottom: 4px solid #99E2D0;
        width: 3rem;
        margin: 2rem 1rem 0 1rem;
        padding-bottom: 0.4rem;
    }

    .bannieres{
        background-color: white;
        border-radius: 0.8rem;
        margin: 1rem;
        cursor: pointer;
    }

    .description{
        margin: 15px;
        padding-top: 13px;
    }

    .menu strong{
        font-family: Roboto;
        font-size: 20px;
    }

    .menu span{
        font-size: 17px;
    }

    .prix{
        font-family: roboto;
    }

    .restaurant p {
        font-size: 24px;
        font-family: 'Shrikhand';
        margin-left: 27px;
    }

    .fa-heart{
        margin-left: 123px;
    }
    
    .commander{
        background-color: #f6f6f6;
        padding-bottom: 47px;
        padding-top: 29px;
        margin-right: -9px;
        margin-left: -8px;
    }
    .commander button{
        border: 0;
        color: white;
        background: linear-gradient( 100deg, #FF79DA, #9356DC);
        box-shadow: 5px 5px 10px 1px #d3d2d2;
        padding: 15px;
        border-radius: 2rem;
        font-size: 18px;
        cursor: pointer;
        margin-left: 123px;
    }
    .basdepage{
        background-color: #353535;
        margin-top: 2px;
        margin-right: -9px;
        margin-left: -8px;
    }

    .logo{
        color: #ffffff;
        font-size: 23px;
        margin-left: 40px;
        font-family: Shrikhand;
        padding-top: 0.5px;
    }

    .liste-apropos li{
        list-style-type: none; 
        padding-bottom: 5px;
    }

    .liste-apropos a{
        color: #ffffff;
    }

    .choixrestaurant a{
        text-decoration: none;
        margin-left: 17px;
    }

    .fa-utensils{
        color: #ffffff;
    }

    .choixpartenaire a{
        text-decoration: none;
        margin-left: 10px;
    }

    .fa-hands-helping{
        color:#ffffff;
    }

    .choixmention a{
        text-decoration: none;
    }

    .contact a{
        text-decoration: none;
    }

}