@import url('https://fonts.googleapis.com/css2?family=Shrikhand&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;700&display=swap');

/*version mobile*/
@media screen and (max-width: 750px){

    .logooh{
        display: block!important;
        margin-left: auto!important;
        padding-top: 20px!important;
        padding-bottom: 20px!important; 
        
    }
    .fa-arrow-left{
        left: 30px!important;
        position: absolute;
        padding-top: 25px!important;
        font-size: 20px!important;
        color:#353535;
    }

    .premiere{
        margin-left: -8px;
        margin-right:-3px;
    }
    .image{
        width: 102%!important;
        height: 280px!important;
        object-fit: cover!important;
    }

    .menu{
        background-color: #f6f6f6;
        border: 0.5px solid #f6f6f6;
        border-radius: 20px 20px 0px 0px;
        margin-top: -3rem;
        position: relative;
        margin-right: -10px!important;
        margin-left: -8px;
    }

    .menu h2{
        border-bottom: 4px solid #99E2D0!important;
        width: 3rem!important;
        margin: 2rem 1rem 0 1rem!important;
        padding-bottom: 0.4rem!important;
        font-size: 18px!important;
    }

    .bannieres{
        background-color: white;
        border-radius: 0.8rem;
        margin: 1rem;
        cursor: pointer;
        display: flex;
        justify-content: space-between;
        flex-direction: row;
    }

    .description{
        margin: 15px!important;
        padding-top: 13px!important;
    }

    .menu strong{
        font-family: Roboto;
        font-size: 20px!important;
    }

    .menu span{
        font-size: 17px!important;
    }

    .prix{
        font-family: roboto;
        display: flex;
        flex-direction:row;
        justify-content: flex-end;
        align-items: flex-end;
        font-weight: 700;
        font-size: 18px!important;
        margin-right: 10px!important;
    }
   

    .restaurant p {
        font-size: 25px!important;
        font-family: 'Shrikhand';
        margin-left: 27px!important;
    }
    .restaurant{
        display: flex;
    }
       
    .choix{
        display: flex;
        flex-direction:column;
        justify-content: space-around;
    }
    
    .commander{
        background-color: #f6f6f6;
        padding-bottom: 47px!important;
        padding-top: 29px!important;
        display:flex;
        justify-content: center;
        align-content: center;
    }
    .commander button{
        border: 0!important;
        color: white;
        background: linear-gradient( 100deg, #FF79DA, #9356DC);
        box-shadow: 5px 5px 10px 1px #d3d2d2;
        padding: 15px!important;
        border-radius: 2rem!important;
        font-size: 18px!important;
        cursor: pointer!important;
    }
    .basdepage{
        background-color: #353535;
        margin-top: 2px;
        margin-right: -9px;
        margin-left: -8px;
    }

    .logo{
        color: #ffffff;
        font-size: 23px;
        margin-left: 40px;
        font-family: Shrikhand;
        padding-top: 0.5px;
    }

    .liste-apropos li{
        list-style-type: none; 
        padding-bottom: 5px;
    }

    .liste-apropos a{
        color: #ffffff;
    }

    .choixrestaurant a{
        text-decoration: none;
        margin-left: 17px;
    }

    .fa-utensils{
        color: #ffffff;
    }

    .choixpartenaire a{
        text-decoration: none;
        margin-left: 10px;
    }

    .fa-hands-helping{
        color:#ffffff;
    }

    .choixmention a{
        text-decoration: none;
    }

    .contact a{
        text-decoration: none;
    }

}

/*version tablette*/

@media screen and (min-width:750px) and (max-width:1024px){


    .logooh{
        width: 200px!important;
        display: block!important;
        margin-left: auto!important;
        padding-top: 20px!important;
        padding-bottom: 20px!important; 
        height: 35px!important; 
        justify-content: center;
        align-content: center;
    }
    .fa-arrow-left{
        left: 30px;
        position: absolute;
        padding-top: 25px;
        font-size: 20px;
        color:#353535;
        margin-top: -1px!important;
    }

    .premiere{
        margin-left: -8px;
        margin-right:-3px;
    }
    .image{
        width: 102%;
        height: 431px;
    }

    .menu{
        background-color: #f6f6f6;
        border: 0.5px solid #f6f6f6;
        border-radius: 20px 20px 0px 0px;
        margin-top: -3rem;
        position: relative;
        margin-right: -10px!important;
        margin-left: -8px;
    }

    .menu h2{
        border-bottom: 7px solid #99E2D0;
        width: 6rem;
        margin: 2rem 1rem 0 1rem;
        padding-bottom: 0.4rem;
        font-size: 30px;
    }

    .bannieres{
        background-color: white;
        border-radius: 0.8rem;
        margin: 1rem;
        cursor: pointer;
        display: flex;
        justify-content: space-between;
        flex-direction: row;
    }

    .description{
        margin: 15px;
        padding-top: 13px;
    }

    .menu strong{
        font-family: Roboto;
        font-size: 27px;
    }

    .menu span{
        font-size: 24px;
    }

    .prix{
        font-family: roboto;
        display: flex;
        flex-direction:row;
        justify-content: flex-end;
        align-items: flex-end;
        font-weight: 700;
        font-size: 29px!important;
    }
  

    .restaurant p {
        font-size: 40px;
        font-family: 'Shrikhand';
        margin-left: 37px;
    }

    H3{
        font-size: 30px;
    }

    .choix{
        display: flex;
        flex-direction:column;
        justify-content: space-around;
    }
    
    .commander{
        background-color: #f6f6f6;
        padding-bottom: 47px;
        padding-top: 29px;
        margin-right: -9px;
        margin-left: -8px;
    }
    .commander button{
        border: 0;
        color: white;
        background: linear-gradient( 100deg, #FF79DA, #9356DC);
        box-shadow: 5px 5px 10px 1px #d3d2d2;
        padding: 15px;
        border-radius: 2rem;
        font-size: 36px;
        cursor: pointer;
    }
    .basdepage{
        background-color: #353535;
        margin-top: 2px;
        margin-right: -9px;
        margin-left: -8px;
    }

    .logo{
        color: #ffffff;
        font-size: 40px;
        margin-left: 40px;
        font-family: Shrikhand;
        padding-top: 0.5px;
    }

    .liste-apropos li{
        list-style-type: none; 
        padding-bottom: 5px;
    }

    .liste-apropos a{
        color: #ffffff;
        font-size: 25px;

    }

    .choixrestaurant a{
        text-decoration: none;
        margin-left: 17px;
    }

    .fa-utensils{
        color: #ffffff;
    }

    .choixpartenaire a{
        text-decoration: none;
        margin-left: 10px;
    }

    .fa-hands-helping{
        color:#ffffff;
    }

    .choixmention a{
        text-decoration: none;
    }

    .contact a{
        text-decoration: none;
    }

}

/* Version desktop*/


        
    
.logooh{
    width: 200px;
    display: block;
    margin-left: 457px;
    margin-right: auto;
    padding-top: 27px;
    padding-bottom: 25px; 
    height: 52px; 
}
.fa-arrow-left{
    left: 30px;
    position: absolute;
    padding-top: 25px;
    font-size: 31px;
    color:#353535;
    margin-top: 10px;
}

.premiere{
    margin-left: -8px;
    margin-right:-3px;
}
.image{
    width: 101%;
    height: 550px;
}

.menu{
    background-color: #f6f6f6;
    border: 0.5px solid #f6f6f6;
    border-radius: 20px 20px 0px 0px;
    margin-top: -3rem;
    position: relative;
    margin-right: -14px;
    margin-left: -8px;
}

.menu h2{
    border-bottom: 7px solid #99E2D0;
    width: 6rem;
    margin: 2rem 1rem 0 1rem;
    padding-bottom: 0.4rem;
    font-size: 30px;
}
.restaurant{
    display: flex;
    align-content: center;
    justify-content: space-between;
    align-items: center;
    font-size: 27px;
}
.restaurant h3{
    margin-left: 20px;
}

.bannieres{
    background-color: white;
    border-radius: 0.8rem;
    margin: 1rem;
    cursor: pointer;
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    overflow: hidden;
    animation: apparition 0,5s forwards;
    animation-delay: 0;
}
.un{
    animation-delay: 0,4s;
}

.deux{
    animation-delay: 0,8s;
}

.trois{
    animation-delay: 0,12s;
}

.troisdemi{
    animation-delay: 0,14s;
}

.quatre{
    animation-delay: 0,16s;
}

.cinq{
    animation-delay: 0,20s;
}

.six{
    animation-delay: 0,24s;
}

.sept{
    animation-delay: 0,28s;
}

.huit{
    animation-delay: 0,32s;
}

.neuf{
    animation-delay: 0,36s;
}

@keyframes apparition  {
    from{
        opacity: 0;
    }
    to{
        opacity: 1;
    }
    
}
.description{
    margin: 15px;
    padding-top: 13px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.menu strong{
    font-family: Roboto;
    font-size: 19px;
}

.menu span{
    font-size: 19px;
}

.prix{
    font-family: roboto;
    display: flex;
    flex-direction:row;
    justify-content: flex-end;
    align-items: flex-end;
    font-weight: 700;
    font-size: 23px;
}
.glissement{
   display: flex;
   align-items: center;
   overflow: hidden;
   background: #99E2D0;
   height: 100%;
   width: 0;
   
}
.bannieres:hover .glissement{
    animation: glissement 0,5s forwards;

}
@keyframes glissement{
    0%{
        width: 0;
        visibility: hidden;
    }
    100%{

        width: 50px;
        visibility: visible;
    }
}
.fa-check-circle{
    color:white;
    font-size:23px;
}

.bannieres:hover .fa-check-circle{
    animation: rotateCirle 0,5s forwards;
}
@keyframes rotateCircle {
    from {
        transform: rotate(0deg)
    }
    to {
        transform: rotate(360deg);
    }
    
}
.restaurant p {
    font-size: 47px;
    font-family: 'Shrikhand';
    margin-left: 37px;
}

 .coeur{
        color: #353535;
        
    }
    .heartwhite{
        position: absolute;
        text-decoration: none;
    }
    .coeur:hover .heartwhite{
        opacity:0;
    }
    
    .heartcolor{
        background-image: linear-gradient(#FF79DA,#9356DC);
        background-clip: padding-box;
        right: 0;
        top: 0;
        bottom: 0;
        left: 0;
        z-index: -1;
        transition-duration: 3s;
        transition-property: opacity;
        text-decoration: none;
        opacity: 0;
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
    }
    
    .coeur:hover .heartcolor{
       opacity: 1; 
    }
    
    
    .fa-heart{
        margin-right:32px;
        font-size: 24px;
    }

.choix{
    display: flex;
    flex-direction:column;
    justify-content: space-around;
}

.commander{
    background-color: #f6f6f6;
    display: flex;
    align-content: center;
    margin-left: auto;
    margin-right: -10px;
}
.commander button {
    border: 0;
    color: white;
    background: linear-gradient(100deg, #ff79da, #9356dc);
    box-shadow: 5px 5px 10px 1px #d3d2d2;
    padding: 15px;
    border-radius: 2rem;
    font-size: 23px;
    cursor: pointer;
    display: block;
    margin: 0 auto-ok
    transition: background 1s;
  }
  .commander button:hover {
    animation: button 0.6s both;
  }
  @keyframes button {
    0% {
      box-shadow: 0 0 0 rgba(228, 228, 228, 0.8);
      background: linear-gradient(
        100deg,
        rgba(214, 108, 219, 1),
        rgba(167, 92, 219, 1)
      );
    }
    100% {
      box-shadow: 0 0 0 rgba(190, 190, 190, 0);
      background: linear-gradient(
        100deg,
        rgba(236, 122, 241, 0.877),
        rgba(178, 99, 235, 0.979)
      );
    }
  }
.basdepage{
    background-color: #353535;
    margin-top: 2px;
    margin-right: -9px;
    margin-left: -8px;
}

.logo{
    color: #ffffff;
    font-size: 40px;
    margin-left: 40px;
    font-family: Shrikhand;
    padding-top: 0.5px;
}

.liste-apropos li{
    list-style-type: none; 
    padding-bottom: 5px;
}

.liste-apropos a{
    color: #ffffff;
    font-size: 25px;

}

.choixrestaurant a{
    text-decoration: none;
    margin-left: 17px;
}

.fa-utensils{
    color: #ffffff;
}

.choixpartenaire a{
    text-decoration: none;
    margin-left: 10px;
}

.fa-hands-helping{
    color:#ffffff;
}

.choixmention a{
    text-decoration: none;
}

.contact a{
    text-decoration: none;
}